.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #dae609;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #dae609;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContainer input {
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-right: .5em;
}